:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/picture/illust_125099964_20241227_204808.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
}